.bookinginfo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

.bookinginfo-title {
  padding: var(--padding-lg) var(--padding-sm);
  background-color: var(--bg-dark);
  width: 100%;
  max-width: 800px;
  text-align: center;
  background-color: var(--bg-dark);
  border-radius: var(--radius-sm);
  margin: var(--margin-lg) 0 var(--margin-sm) 0;
}

.bookinginfo-title h2 {
  font-size: var(--fs-xl);
  color: var(--fg-clr-light);
  font-weight: bold;
}

.bookinginfo-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--padding-lg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: var(--fg-clr-dark);
  border: 1px solid #eaeaea;
  border-radius: var(--radius-sm);
}
.bookinginfo-content:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.bookinginfo-content__date {
  text-align: center;
  align-content: center;
  width: 60px;
  height: 60px;
  background-color: var(--bg-dark);
  border-radius: var(--radius-sm);
  color: var(--fg-clr-light);
}

.bookinginfo-content__changes {
  display: flex;
  flex-direction: column;
  align-content: right;
  text-align: right;
  gap: 10px;
}

/*.bookinginfo-content__description {
}

.bookinginfo-content__department {
}

.bookinginfo-content__selector {
} */

.bookinginfo-container .flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-md);
}

.bookinginfo-content .bi {
  margin-right: 10px;
}
