:root {
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;

  --padding-sm: 4px;
  --padding-md: 8px;
  --padding-lg: 12px;

  --fs-sm: 0.75rem;
  --fs-md: 1rem;
  --fs-lg: 1.5rem;
  --fs-xl: 2rem;
  --fs-xxl: 3rem;

  --fg-clr-light: rgb(240, 240, 240);
  --fg-clr-dark: rgb(25, 25, 25);

  --bg-light: rgb(13, 217, 214);
  --bg-dark: rgb(5, 122, 120);
  --bg-disabled: rgb(180, 180, 180);
}

* {
  padding: 0;
  margin: 0;
  font-family: Quicksand, Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}

*,
*::after,
*::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.button {
  cursor: pointer;
  padding: 10px 30px;
  background-color: hsl(179, 92%, 25%);
  border: solid 2px hsl(179, 92%, 24%);
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-top: 3rem;
  text-decoration: none;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease,
    box-shadow 0.2s ease,
    border 0.3s ease;

  &:hover {
    background-color: #2fadaa;
    border: solid 2px #32b8b6;
    transform: translateY(-3px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  }
}
