.calendar-wrapper {
  --calendar-width: 600px;
  max-width: var(--calendar-width);
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: var(--fs-xl);
}

.react-calendar {
  width: var(--calendar-width);
  border: solid 1px rgb(225, 225, 225);
  border-radius: var(--radius-sm);
  padding: var(--padding-lg);
  line-height: 1.125em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  font-size: var(--fs-xl);
}

/* Day-items */
.react-calendar__tile {
  padding: 10px 0;
  border: 1px solid transparent !important;
  text-align: center;
}

/* Today */
.react-calendar__tile--now {
  background: transparent;
  border: 1px solid var(--bg-dark) !important;
  border-radius: 4px;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background-color: #e6e6e6;
}

/* Choosen day */
.react-calendar__tile--active {
  background: rgb(7, 150, 147) !important;
  background: rgb(7, 150, 147) !important;
  color: var(--fg-clr-light) !important;
}

.react-calendar__tile:disabled {
  background-color: var(--fg-clr-light);
  color: #ababab;
}

/* Weekends */
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
