.create-booking-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.create-booking-container__title {
  background-color: var(--bg-dark);
  font-weight: 700;
  text-align: center;
  border-radius: var(--radius-sm);
  font-size: var(--fs-xl);
  color: var(--fg-clr-light);
  padding: 0.25rem;
}

.create-booking-container__text-area {
  --border-thickness-hover: 4px;

  max-width: 100%;
  font-size: var(--fs-lg);
  height: 150px;
  border: 1px solid var(--bg-dark);
  border-radius: var(--radius-sm);
  padding: 0.5rem;
  resize: none;
}

.create-booking-container__text-area:focus {
  outline: none;
  border: var(--border-thickness-hover) solid var(--bg-dark);
}

.create-booking-container__text-area:hover {
  border: var(--border-thickness-hover) solid var(--bg-dark);
}

.create-booking-container [class$="btn"] {
  border: none;
  background-color: var(--bg-dark);
  padding: 0.9rem 1rem;
  color: var(--fg-clr-light);
  font-size: var(--fs-lg);
  border-radius: var(--radius-sm);
  cursor: pointer;
}

.create-booking-container [class$="btn"]:hover {
  background-color: rgb(10, 155, 150);
}

.create-booking-container [class$="btn"]:active {
  background-color: var(--bg-dark);
}

.create-booking-container [class$="btn"]:disabled {
  background-color: var(--bg-disabled);
  cursor: not-allowed;
}

.create-booking-container__time-slots {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 1rem;
  column-gap: 0.5rem;
}

@media (max-width: 800px) {
  .create-booking-container__time-slots__btn {
    display: grid;
    line-height: 0.8em;
  }
}
